* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  color: #fff;
  font-family: Arial, sans-serif;
  background-color: transparent;
}

body {
  background: url(https://images7.alphacoders.com/998/thumbbig-998905.webp) center no-repeat fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
}

header {
  background-color: rgba(230, 126, 34, 0.8);
  width: 60vw;
  min-width: 300px;
  max-width: 600px;
  margin: 2em auto;
  padding: 15px;
  text-align: center;
  color: white;
  border-radius: 20px;
}

h1 {
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 5px;
  line-height: 1.1em;
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 30px;
}

p {
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 1px;
  line-height: 1.5em;
  font-style: italic;
  font-size: 15px;
  padding-top: 10px;
}

hr {
  width: 70%;
  margin: auto;
}

form {
  background: rgba(55, 108, 169, 0.8);
  width: 60vw;
  min-width: 300px;
  max-width: 600px;
  margin: 2em auto;
  padding: 15px;
  text-align: start;
  color: white;
  border-radius: 20px;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0;
  width: 100%;
  min-height: 2em;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

fieldset {
  border: none;
  padding: 1rem;
}

span {
  font-size: 12px;
}

button {
  display: block;
  width: 40%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #0f0;
  border-color: #0f0;
  min-width: 200px;
  border-radius: 20px;
}

footer {
  text-align: center;
  font-size: 17px;
  margin: 20px;
}

footer > p {
  color: #0f0;
  width: 25%;
  margin: 0 auto;
  padding: 10px;
  font-weight: bold;
  font-size: 12px;
  background-color: rgba(255, 0, 0, 0.6);
  border-radius: 20px;
}
